<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Feedback</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/feedback.css">
<style>

</style>
</head>
<th:block layout:fragment="content">
<body>
<div class="blur-background"></div>
<div class="container-custom">

    <div class="wrapper mt-md-0 mt-sm-0 mt-lg-5">
    <div class="container-myProfile mt-lg-5">
    <h2>My Feedback</h2>
        <p id="total-feedbacks"></p>
    <p>Average Ratings</p>
    <div class="average-rating">
        <span th:text="${avg}"></span>
        <div class="stars-outer">
            ★★★★★
            <div class="stars-inner" th:style="'width:' + (${avg} * 20) + '%'">
                ★★★★★
            </div>
        </div>
    </div>


    <div class="filter">
        <button onclick="updateRatingAndLoadFeedbacks(0)" th:text="'All (' + ${counts[0] + counts[1] + counts[2] + counts[3] + counts[4]} +')'"></button>
        <button onclick="updateRatingAndLoadFeedbacks(5)" th:text="'5 Stars (' + ${counts[4]} + ')'"></button>
        <button onclick="updateRatingAndLoadFeedbacks(4)" th:text="'4 Stars (' + ${counts[3]} + ')'"></button>
        <button onclick="updateRatingAndLoadFeedbacks(3)" th:text="'3 Stars (' + ${counts[2]} + ')'"></button>
        <button onclick="updateRatingAndLoadFeedbacks(2)" th:text="'2 Stars (' + ${counts[1]} + ')'"></button>
        <button onclick="updateRatingAndLoadFeedbacks(1)" th:text="'1 Star (' + ${counts[0]} + ')'"></button>
    </div>

    <div class="feedback-list">
<!--        InforMation-->
    </div>

        <div class="pagination-container">
            <div class="pagination" id="pagination-numbers">
                <!-- Page numbers will be dynamically added here -->
            </div>
            <div class="limit-selector">
                <button onclick="adjustLimit(-1)">-</button>
                <input type="number" id="limit" value="1" min="1"  readonly />
                <button onclick="adjustLimit(1)">+</button>
                <span>per page</span>
            </div>
        </div>



    </div>
    </div>
</div>

<script src="/js/MyFeedback.js"></script>
</body>
</th:block>

</html>
