.hero-wrap {
    height: 200px !important;
    position: relative;
    background-image: url('/images/2024-Skoda-Enyaq-RS-Race-Concept-005-2000.jpg');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px !important;
}

.slider-text {
    height: 200px !important;
}


/* Balance */
.balance {
    width: 100%;
    max-width: 350px;
    background-color: #404040;
    border-radius: 15px;
    overflow: hidden;
    height: fit-content;
}

.history{
    max-height: 540px;
    width: 100%;
    max-width: 1050px;
    background-color: #23292e;
    border-radius: 15px;
    overflow: hidden;
}

.balance-title-secondary{
    width: 100%;
    height: 60px;
    background: rgb(0,160,88);
    background: linear-gradient(90deg, rgba(0,160,88,1) 0%, rgba(0,255,187,1) 100%);
    /*border-bottom-right-radius: 35px;*/
    padding: 10px;
}

h5{
    color: #FFFFFF;
}

.balance-title-primary{
    width: 100%;
    height: 60px;
    background: rgb(0,160,88);
    background: linear-gradient(90deg, rgba(0,160,88,1) 0%, rgba(0,255,187,1) 100%);
    /*background: rgb(0,123,255);*/
    /*background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(82,199,209,1) 100%);*/
    /*border-bottom-right-radius: 35px;*/
    /*border-top-left-radius: 20px;*/
    padding: 10px;
}

.validate-msg {
    display: none;
    color: #dc3545;
    font-size: 80%;
    margin-top: 0.25rem;
}

.btn{
    font-size: 16px;
}

.input-group-text{
    background-color: #00ca73;
    color: whitesmoke;
    border: none;
}

.form-control{
    background-color: #323232;
    border: none;
    color: #eeeeee;
}

.form-control:read-only{
    background-color: #2c2c2c;
    border: none;
    color: #eeeeee;
}

.form-control:focus{
    background-color: #3c3c3c;
    border: none;
    color: #eeeeee;
}

.history .table{
    min-width: 100% !important;
}

.history td{
    padding: 0 !important;
}

.history thead tr{
    background: rgb(0,123,255);
    background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(82,199,209,1) 100%);
}

.history .table-dark thead th{
    border: none;
}