<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>My Wallet</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <link rel="stylesheet" href="/css/user/my-wallet.css">
    <link rel="stylesheet"
          href="/webjars/bootstrap-datepicker/1.10.0/dist/css/bootstrap-datepicker3.min.css">
    <script src="/webjars/axios/1.6.7/dist/axios.min.js"></script>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
</head>
<th:block layout:fragment="content">
    <body>
    <section class="hero-wrap hero-wrap js-fullheight" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate">
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>My Wallet</span>
                    </p>
                    <h1 class="mb-3 bread">My Wallet</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section" style="min-height: 400px">
        <div class="container" id="grad1">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="font-weight-bold">Your current balance:</h4>
                    <h2 id="walletBalance" style="color: green;"
                        th:text="${formattedWallet != null ? formattedWallet : '0'} + ' VND'"></h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-warning mr-2 ">Withdraw</button>
                    <button class="btn btn-success  ">Top-up</button>
                </div>
            </div>
            <div class="alert alert-danger mt-3" th:if="${errorPayment != null}" th:text="${errorPayment}"></div>

            <!-- Date Filters Row -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h4 class="font-weight-bold">Transactions:</h4>
                </div>
                <div class="col-md-5">
                    <label>From</label>
                    <input type="text" class="form-control datepicker" id="fromDate"
                           th:value="${fromDate != null ? fromDate : ''}" placeholder="Select Start Date">
                    <span id="fromDateError" class="text-danger" style="display: none; font-size: 0.875em;"></span>
                </div>
                <div class="col-md-5">
                    <label>To</label>
                    <input type="text" class="form-control datepicker" id="toDate"
                           th:value="${toDate != null ? toDate : ''}" placeholder="Select End Date">
                    <span id="toDateError" class="text-danger" style="display: none; font-size: 0.875em;"></span>
                </div>
                <div class="mt-3 col-md-2 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary" id="searchBtn">Search</button>
                    <span class="text-danger" style="display: none; font-size: 0.875em;"></span>
                </div>
            </div>

            <!-- Transaction History Table Row -->
            <div class="row mt-4" th:if="${!transactions.isEmpty()}">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th>No</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Date Time</th>
                            <th>Booking No</th>
                            <th>Car Name</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="transaction, iterStat : ${transactions}">
                            <td th:text="${iterStat.index + 1 + 5 * currentPage - 5}"></td>
                            <td th:text="${(transaction.transactionType == 'Withdraw'
                            or transaction.transactionType == 'Pay deposit'
                            or  transaction.transactionType == 'Offset final payment'
                            or transaction.transactionType == 'Pay final payment'
                            or transaction.transactionType == 'Return remaining deposit'
                            or transaction.transactionType == 'Refund deposit'
                            or transaction.transactionType == 'Pay for driver rental'
                            or transaction.transactionType == 'Receive salary'? '-' : '+')
                            + transaction.getAmount() + ' VND'}"
                                th:class="${transaction.transactionType == 'Withdraw' or transaction.transactionType == 'Pay deposit' or transaction.transactionType == 'Offset final payment'  or transaction.transactionType == 'Pay final payment'
                            or transaction.transactionType == 'Return remaining deposit' or transaction.transactionType == 'Refund deposit' or transaction.transactionType == 'Receive salary'
                             or transaction.transactionType == 'Pay for driver rental' ? 'text-danger' : 'text-success'}">
                            </td>
                            <td th:text="${transaction.getTransactionType()}"></td>
                            <td th:text="${#temporals.format(transaction.getTransactionDate(), 'dd/MM/yyyy HH:mm')}"></td>
                            <td th:text="${transaction.getBooking() != null ? transaction.getBooking().getBookingId() : 'N/A'}"></td>
                            <td th:text="${transaction.getBooking() != null ? transaction.getBooking().getCar().getCarName() : 'N/A'}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Transaction history pagination">
                        <ul class="pagination justify-content-center">
                            <!-- Nút Previous -->
                            <li th:classappend="${currentPage == 1} ? 'disabled' : ''" class="page-item">
                                <a th:href="${fromDate != null && toDate != null} ?
                          @{/wallet/my-wallet(page=${currentPage - 1}, fromDate=${fromDate}, toDate=${toDate})} :
                          @{/wallet/my-wallet(page=${currentPage - 1})}"
                                   class="page-link">Prev</a>
                            </li>

                            <!-- Trang đầu tiên -->
                            <li th:if="${currentPage > 3}" class="page-item">
                                <a th:href="${fromDate != null && toDate != null} ?
                          @{/wallet/my-wallet(page=${1}, fromDate=${fromDate}, toDate=${toDate})} :
                          @{/wallet/my-wallet(page=${1})}"
                                   class="page-link">1</a>
                            </li>
                            <li th:if="${currentPage > 3}" class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>

                            <!-- Các trang ở giữa -->
                            <li th:each="i : ${#numbers.sequence(currentPage - 2 > 1 ? currentPage - 2 : 1,
                                            currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"
                                th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                                <a th:href="${fromDate != null && toDate != null} ?
                          @{/wallet/my-wallet(page=${i}, fromDate=${fromDate}, toDate=${toDate})} :
                          @{/wallet/my-wallet(page=${i})}"
                                   th:text="${i}" class="page-link"></a>
                            </li>

                            <!-- Trang cuối cùng -->
                            <li th:if="${currentPage < totalPages - 2}" class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            <li th:if="${currentPage < totalPages - 2}" class="page-item">
                                <a th:href="${fromDate != null && toDate != null} ?
                          @{/wallet/my-wallet(page=${totalPages}, fromDate=${fromDate}, toDate=${toDate})} :
                          @{/wallet/my-wallet(page=${totalPages})}"
                                   th:text="${totalPages}" class="page-link"></a>
                            </li>

                            <!-- Nút Next -->
                            <li th:classappend="${currentPage == totalPages} ? 'disabled' : ''" class="page-item">
                                <a th:href="${fromDate != null && toDate != null} ?
                          @{/wallet/my-wallet(page=${currentPage + 1}, fromDate=${fromDate}, toDate=${toDate})} :
                          @{/wallet/my-wallet(page=${currentPage + 1})}"
                                   class="page-link">Next</a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>

            <!-- No Transactions Message -->
            <div class="row mt-4" th:if="${transactions.isEmpty()}">
                <div class="col-md-12">
                    <p class="text-center">No transactions found.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- Top-up Modal -->
    <div class="modal fade" id="topUpModal" tabindex="-1" role="dialog" aria-labelledby="topUpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-dark" id="topUpModalLabel">Top-up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-dark">Please select the amount to top-up to your wallet</p>
                    <select class="form-control" id="topUpAmount">
                        <option value="2000000">2,000,000 VND</option>
                        <option value="5000000">5,000,000 VND</option>
                        <option value="10000000">10,000,000 VND</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="topUpConfirm">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Withdraw Modal -->
    <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-dark" id="withdrawModalLabel">Withdraw</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="withdrawModalPara" class="text-dark">Your current balance is <span
                            th:text="${formattedWallet}"></span>. Please select the amount to withdraw from your wallet
                    </p>
                    <select class="form-control" id="withdrawAmount">
                        <option value="2000000">2,000,000 VND</option>
                        <option value="5000000">5,000,000 VND</option>
                        <option value="10000000">10,000,000 VND</option>
                        <option th:value="${user.getWallet()}">All balance</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="withdrawConfirm">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Success -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="successModalBody">
                    <p>Your transaction was successfully processed!</p>
                    <p><strong>Transaction Type:</strong> <span id="transactionType"></span></p>
                    <p><strong>Amount:</strong> <span id="transactionAmount"></span></p>
                    <p><strong>New Balance:</strong> <span id="newBalance"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorModalBody">
                    <p>Something went wrong. Please try again later.</p>
                    <p>If the issue persists, contact customer support.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });

            $('#searchBtn').on('click', function () {
                const fromDate = $('#fromDate').val();
                const toDate = $('#toDate').val();

                if (!fromDate || !toDate) {
                    if (!fromDate) {
                        document.getElementById('fromDateError').textContent = 'Please select a "From" date.';
                        document.getElementById('fromDateError').style.display = 'block';
                    }
                    if (!toDate) {
                        document.getElementById('toDateError').textContent = 'Please select a "To" date.';
                        document.getElementById('toDateError').style.display = 'block';
                    }
                    return;
                } else {
                    document.getElementById('fromDateError').style.display = 'none';
                    document.getElementById('toDateError').style.display = 'none';
                }

                if (new Date(fromDate) > new Date(toDate)) {
                    document.getElementById('fromDateError').textContent = '"From Date" cannot be later than "To Date".';
                    document.getElementById('fromDateError').style.display = 'block';
                    document.getElementById('toDateError').style.display = 'none';
                    return;
                }

                const url = `/wallet/my-wallet?fromDate=${fromDate}&toDate=${toDate}`;
                window.location.href = url;
            });
        });

        $('.btn-success').on('click', function () {
            $('#topUpModal').modal('show');
        });

        $('.btn-warning').on('click', function () {
            $('#withdrawModal').modal('show');
        });
    </script>
    <script>
        $(document).ready(function () {
            checkWithdrawButton();
            const walletBalanceElement = document.getElementById('walletBalance');

            $('#topUpConfirm').on('click', function () {
                var amount = $('#topUpAmount').val();
                $.ajax({
                    url: '/wallet/top-up',
                    method: 'POST',
                    data: {
                        amount: amount,
                        transactionType: 'TOP_UP',
                        _csrf: $('meta[name="_csrf"]').attr('content')
                    },
                    success: function (response) {
                        console.log("Top-up successful", response);
                        $('#walletBalance').text(response.newBalance + ' VND');
                        $('#topUpModal').modal('hide');
                        Swal.fire({
                            title: 'Success!',
                            text: 'Your top-up of ' + amount + ' VND has been successful.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });

                        reloadTransactionTable();
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while topping up your wallet. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            $('#withdrawConfirm').on('click', function () {
                var amount = parseFloat($('#withdrawAmount').val());
                let currentBalance = parseFloat($('#walletBalance').text().replace(' VND', '').replaceAll(',', ''));

                if (amount > currentBalance) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Withdrawal amount cannot be greater than your current balance.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    return false;
                }

                $.ajax({
                    url: '/wallet/withdraw',
                    method: 'POST',
                    data: {
                        amount: amount,
                        transactionType: 'WITHDRAW',
                        _csrf: $('meta[name="_csrf"]').attr('content')
                    },
                    success: function (response) {
                        console.log("Withdraw successful", response);
                        $('#walletBalance').text(response.newBalance + ' VND');
                        $('#withdrawModal').modal('hide');
                        Swal.fire({
                            title: 'Success!',
                            text: 'Your withdrawal of ' + amount + ' VND has been successful.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });

                        reloadTransactionTable();
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while withdrawing from your wallet. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            function reloadTransactionTable() {
                $.ajax({
                    url: '/wallet/my-wallet',
                    method: 'GET',
                    success: function (data) {
                        const newTableBody = $(data).find('table tbody').html();
                        $('table tbody').html(newTableBody);
                    },
                    error: function () {
                        console.log("Failed to reload transaction table.");
                    }
                });
            }


            function checkWithdrawButton() {
                let currentBalance = $('#walletBalance').text().replace(' VND', '').replaceAll(',', '');

                if (parseFloat(currentBalance) === 0) {
                    $('.btn-warning').prop('disabled', true);
                } else {
                    $('.btn-warning').prop('disabled', false);
                }
            }

            const observer = new MutationObserver((mutationsList) => {
                for (const mutation of mutationsList) {
                    if (mutation.type === 'characterData' || mutation.type === 'childList') {
                        checkWithdrawButton();
                    }
                }
            });

            observer.observe(walletBalanceElement, {childList: true, characterData: true, subtree: true});

            $('.btn-warning').on('click', function () {
                let currentBalance = $('#walletBalance').text().replace(' VND', '').replaceAll(',', '');

                $('#withdrawAmount').html('');

                var options = [
                    {value: 2000000, text: '2,000,000 VND'},
                    {value: 5000000, text: '5,000,000 VND'},
                    {value: 10000000, text: '10,000,000 VND'},
                    {value: currentBalance, text: 'All balance'}
                ];

                options.forEach(function (option) {
                    $('#withdrawAmount').append('<option value="' + option.value + '">' + option.text + '</option>');
                });

                $('#withdrawModal').modal('show');

                $('#withdrawModalPara').text('Your current balance is ' + parseFloat(currentBalance).toLocaleString() + ' VND. Please select the amount to withdraw from your wallet');

            });

        });
    </script>

    </body>
</th:block>
</html>
