<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 lang="en">
<head>
    <title>Carbook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</head>
<th:block th:fragment="header">
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto p-0" style="backdrop-filter: blur(40px);border-radius: 15px; margin-right: 10px;">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about-us" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/car-search" class="nav-link">Car Search</a></li>
            </ul>
            <div style="border: solid 2px #00c86f; margin: 10px 0; display: none" class="line-distract"></div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <th:block th:if="${session.user != null}">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" style="padding: 20px 0 !important;"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- Hiển thị Avatar -->
                            <img th:src="${session.user.getAvatar() != null ? '/' + session.user.getAvatar() : '/images/avt.png'}" class="rounded-circle"
                                 style="width: 40px; height: 40px; object-fit: cover; border: 2px solid #ffffff; padding: 0" alt="Avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="menu-title">
                                <h6 class="dropdown-header">Hello, <span th:text="${session.user.username}"></span></h6>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/my-profile">My Profile</a>
                            <th:block th:if="${session.user.roles[0].getRoleName().equalsIgnoreCase('Customer')}">
                                <a class="dropdown-item" href="/customer/my-bookings">My Booking</a>
                            </th:block>
                            <th:block th:if="${session.user.roles[0].getRoleName().equalsIgnoreCase('Car Owner')}">
                                <a class="dropdown-item" href="/car-owner/my-cars">My Cars</a>
                                <a class="dropdown-item" href="/car-owner/my-bookings">My Cars' Bookings</a>
                                <a class="dropdown-item" href="/homepage-carowner/my-feedback">My Feedback</a>
                                <a class="dropdown-item" href="/car-owner/revenue">Revenue</a>
                            </th:block>
                            <a class="dropdown-item" href="/wallet/my-wallet">My Wallet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout" id="logout-link">Logout</a>
                        </div>

                    </li>

                </th:block>

                <th:block th:if="${session.user == null}">
                    <li class="nav-item" style="display: flex; align-items: center">
                        <a href="/login" class="login-btn nav-link"
                           style="padding: 2px 30px !important; width: 100px !important; height: 40px !important; display: flex !important; align-items: center !important">Login</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<script>
    function setActiveMenu() {
        const currentPath = window.location.pathname;

        document.querySelectorAll('.nav-item').forEach(item => {
            item.classList.remove('active');
        });
        const activeLink = document.querySelector(`.nav-link[href="${currentPath}"]`);
        if (activeLink) {
            const menuItem = activeLink.closest('.nav-item');
            menuItem.classList.add('active');
        }
        console.log(currentPath);
    }

    document.addEventListener('DOMContentLoaded', setActiveMenu);

    window.addEventListener('popstate', setActiveMenu);
</script>
</body>
</th:block>
</html>
