<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block layout:fragment="content">
    <head>
        <style>
           .drop-area {
             width: 100%;
             height: 200px;
             padding: 30px;
             background: #d1d5d9;
             text-align: center;
             border-radius: 10px;
           }

           .img-view{
             width: 100%;
             height: 100%;
             border-radius: 10px;
             border: dashed 2px #86ffcf;
             background: rgb(229 251 255 / 38%);
             padding: 20px;
           }

           .document p{
             font-size: 10px;
             margin: 0;
           }

           .document span{
             font-size: 10px;
           }
        </style>
    </head>
<body>

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
  <div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-10 col-md-10 col-lg-11 text-center p-0 mt-3 mb-2 mt-lg-5">
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3 mt-lg-5">
        <h2><strong>Add Car</strong></h2>
        <p>Fill all form field to go to next step</p>
        <div class="row">
          <div class="col-md-12 mx-0">
            <form id="msform">
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active" id="basic"><strong>Step1. Basic</strong></li>
                <li id="detail"><strong>Step2. Detail</strong></li>
                <li id="pricing"><strong>Step3. Pricing</strong></li>
                <li id="finish"><strong>Step4. Finish</strong></li>
              </ul>
              <!-- fieldsets -->
              <fieldset>
                <div class="d-flex justify-content-center">
                  <div class="card align-items-start display-flex-center" style="width: 90%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="card-body text-left">
                      <h5 class="card-title">Basic information</h5>
                      <h6 class="card-subtitle mb-2" style="color: #ff6f61;">Note: Please check your information carefully, you'll not be able to change the basic details of your car, which is based on the registration
                        information</h6>
                      <div>
                        <div class="row">
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">License plate</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                          </div>
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Color</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect02">Brand Name</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect02">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect03">Model</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect03">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect04">Production year</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect04">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="input-group mb-3 col-lg-6">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect05">No of seats</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect05">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="col-lg-12 row">
                            <div class="col-lg-6">
                              <p>Transmission</p>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option1"> Automatic
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option2"> Manual
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <p>Fuel</p>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option3"> Gasoline
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option4"> Diesel
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h5 class="card-title">Documents</h5>
                      <div class="document">
                        <div class="row">
                          <div class="col-lg-4">
                            <label for="input-file1" class="drop-area" id="drop-area1">
                              <input type="file" id="input-file1" accept=".doc,.docx,.pdf,.jpg,.jpeg,.png" hidden>
                              <div class="img-view" id="img-view1">
                                <i class="fa-solid fa-file-arrow-up fa-2x"></i>
                                <p>Drag or drop or click here<br>to upload file</p>
                                <span>Upload type: doc, .docx, .pdf, .jpg , .jpeg , .png</span>
                              </div>
                            </label>
                          </div>

                          <div class="col-lg-4">
                            <label for="input-file2" class="drop-area" id="drop-area2">
                              <input type="file" id="input-file2" accept=".doc,.docx,.pdf,.jpg,.jpeg,.png" hidden>
                              <div class="img-view" id="img-view2">
                                <i class="fa-solid fa-file-arrow-up fa-2x"></i>
                                <p>Drag or drop or click here<br>to upload file</p>
                                <span>Upload type: doc, .docx, .pdf, .jpg , .jpeg , .png</span>
                              </div>
                            </label>
                          </div>

                          <div class="col-lg-4">
                            <label for="input-file3" class="drop-area" id="drop-area3">
                              <input type="file" id="input-file3" accept=".doc,.docx,.pdf,.jpg,.jpeg,.png" hidden>
                              <div class="img-view" id="img-view3">
                                <i class="fa-solid fa-file-arrow-up fa-2x"></i>
                                <p>Drag or drop or click here<br>to upload file</p>
                                <span>Upload type: doc, .docx, .pdf, .jpg , .jpeg , .png</span>
                              </div>
                            </label>
                          </div>

<!--                          <div class="input-group mb-3 input-group mb-3 overflow-hidden col-lg-4">-->
<!--                            <div class="input-group-prepend">-->
<!--                              <span class="input-group-text" id="inputGroupFileAddon01">Registration</span>-->
<!--                            </div>-->
<!--                            <div class="custom-file">-->
<!--                              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">-->
<!--                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="input-group mb-3 input-group mb-3 overflow-hidden col-lg-4">-->
<!--                            <div class="input-group-prepend">-->
<!--                              <span class="input-group-text" id="inputGroupFileAddon02">Certificate o inspection</span>-->
<!--                            </div>-->
<!--                            <div class="custom-file">-->
<!--                              <input type="file" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon01">-->
<!--                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="input-group mb-3 input-group mb-3 overflow-hidden col-lg-4">-->
<!--                            <div class="input-group-prepend">-->
<!--                              <span class="input-group-text" id="inputGroupFileAddon03">Insurance</span>-->
<!--                            </div>-->
<!--                            <div class="custom-file">-->
<!--                              <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon01">-->
<!--                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>-->
<!--                            </div>-->
<!--                          </div>-->
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next Step"/>
              </fieldset>
              <fieldset>
                <div class="form-card">
                  <h2 class="fs-title">Personal Information</h2>
                  <input type="text" name="fname" placeholder="First Name"/>
                  <input type="text" name="lname" placeholder="Last Name"/>
                  <input type="text" name="phno" placeholder="Contact No."/>
                  <input type="text" name="phno_2" placeholder="Alternate Contact No."/>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next Step"/>
              </fieldset>
              <fieldset>
                <div class="form-card">
                  <h2 class="fs-title">Payment Information</h2>
                  <div class="radio-group">
                    <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
                    <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div>
                    <br>
                  </div>
                  <label class="pay">Card Holder Name*</label>
                  <input type="text" name="holdername" placeholder=""/>
                  <div class="row">
                    <div class="col-9">
                      <label class="pay">Card Number*</label>
                      <input type="text" name="cardno" placeholder=""/>
                    </div>
                    <div class="col-3">
                      <label class="pay">CVC*</label>
                      <input type="password" name="cvcpwd" placeholder="***"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label class="pay">Expiry Date*</label>
                    </div>
                    <div class="col-9">
                      <select class="list-dt" id="month" name="expmonth">
                        <option selected>Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                      <select class="list-dt" id="year" name="expyear">
                        <option selected>Year</option>
                      </select>
                    </div>
                  </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="make_payment" class="next action-button" value="Confirm"/>
              </fieldset>
              <fieldset>
                <div class="form-card">
                  <h2 class="fs-title text-center">Success !</h2>
                  <br><br>
                  <div class="row justify-content-center">
                    <div class="col-3">
                      <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                    </div>
                  </div>
                  <br><br>
                  <div class="row justify-content-center">
                    <div class="col-7 text-center">
                      <h5>You Have Successfully Signed Up</h5>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
    function uploadfile(imageView, inputFile) {
      const file = inputFile.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          if (file.type.match("image.*")) {
            imageView.style.backgroundImage = `url(${e.target.result})`;
            imageView.style.backgroundSize = "cover";
            imageView.style.backgroundPosition = "center";
            imageView.innerHTML = `<p>${file.name}</p>`;
          } else {
            imageView.style.backgroundImage = "none";
            imageView.innerHTML = `<p>${file.name}</p>`;
          }
          imageView.style.border = "none";
        };
        reader.readAsDataURL(file);
        console.log("added");
      }
    }

    const dropArea1 = document.getElementById("drop-area1");
    const inputFile1 = document.getElementById("input-file1");
    const imageView1 = document.getElementById("img-view1");

    inputFile1.addEventListener("change", function() {
      uploadfile(imageView1, inputFile1);
    });

    dropArea1.addEventListener("dragover", function(e) {
      e.preventDefault();
      dropArea1.style.background = "rgba(0, 0, 0, 0.1)";
    });

    dropArea1.addEventListener("dragleave", function(e) {
      e.preventDefault();
      if (!dropArea1.contains(e.relatedTarget)) {
        dropArea1.style.background = "#d1d5d9";
      }
    });

    dropArea1.addEventListener("drop", function(e) {
      e.preventDefault();
      inputFile1.files = e.dataTransfer.files;
      uploadfile(imageView1, inputFile1);
    });

    const dropArea2 = document.getElementById("drop-area2");
    const inputFile2 = document.getElementById("input-file2");
    const imageView2 = document.getElementById("img-view2");

    inputFile2.addEventListener("change", function() {
      uploadfile(imageView2, inputFile2);
    });

    dropArea2.addEventListener("dragover", function(e) {
      e.preventDefault();
      dropArea2.style.background = "rgba(0, 0, 0, 0.1)";
    });

    dropArea2.addEventListener("dragleave", function(e) {
      e.preventDefault();
      if (!dropArea2.contains(e.relatedTarget)) {
        dropArea2.style.background = "#d1d5d9";
      }
    });

    dropArea2.addEventListener("drop", function(e) {
      e.preventDefault();
      inputFile2.files = e.dataTransfer.files;
      uploadfile(imageView2, inputFile2);
    });

    const dropArea3 = document.getElementById("drop-area3");
    const inputFile3 = document.getElementById("input-file3");
    const imageView3 = document.getElementById("img-view3");

    inputFile3.addEventListener("change", function() {
      uploadfile(imageView3, inputFile3);
    });

    dropArea3.addEventListener("dragover", function(e) {
      e.preventDefault();
      dropArea3.style.background = "rgba(0, 0, 0, 0.1)";
    });

    dropArea3.addEventListener("dragleave", function(e) {
      e.preventDefault();
      if (!dropArea3.contains(e.relatedTarget)) {
        dropArea3.style.background = "#d1d5d9";
      }
    });

    dropArea3.addEventListener("drop", function(e) {
      e.preventDefault();
      inputFile3.files = e.dataTransfer.files;
      uploadfile(imageView3, inputFile3);
    });


    $(document).ready(function(){

      var current_fs, next_fs, previous_fs; //fieldsets
      var opacity;

      $(".next").click(function(){

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //Add Class Active
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
          step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
              'display': 'none',
              'position': 'relative'
            });
            next_fs.css({'opacity': opacity});
          },
          duration: 600
        });
      });

      $(".previous").click(function(){

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //Remove class active
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();

        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
          step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
              'display': 'none',
              'position': 'relative'
            });
            previous_fs.css({'opacity': opacity});
          },
          duration: 600
        });
      });

      $('.radio-group .radio').click(function(){
        $(this).parent().find('.radio').removeClass('selected');
        $(this).addClass('selected');
      });

      $(".submit").click(function(){
        return false;
      })

    });

  </script>
</body>
</th:block>
</html>