<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <title>My Cars</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/toastr/2.1.0/toastr.css">

    <link rel="stylesheet" href="/webjars/sweetalert2/11.14.4/dist/sweetalert2.min.css">
    <script src="/webjars/sweetalert2/11.14.4/dist/sweetalert2.all.min.js"></script>
    <style>
        .hero-wrap {
            height: 200px !important;
            position: relative;
            background-image: url('/images/2024-Skoda-Enyaq-RS-Race-Concept-005-2000.jpg');
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            height: 200px !important;
        }

        .slider-text {
            height: 200px !important;
        }

        /*  Preview part */

        .wrapper {
            position: relative;
            width: 100%;
            height: 400px;
        }

        .wrapper .img {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .wrapper .img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            clip-path: circle(0% at 0% 100%);
            transition: all 0.7s;
        }

        /* CSS cho dynamic ID */
        [id^="one-"]:checked ~ .img-1 img {
            clip-path: circle(150% at 0% 100%);
        }

        [id^="two-"]:checked ~ .img-1 img,
        [id^="two-"]:checked ~ .img-2 img {
            clip-path: circle(150% at 0% 100%);
        }

        [id^="three-"]:checked ~ .img-1 img,
        [id^="three-"]:checked ~ .img-2 img,
        [id^="three-"]:checked ~ .img-3 img {
            clip-path: circle(150% at 0% 100%);
        }

        [id^="four-"]:checked ~ .img-1 img,
        [id^="four-"]:checked ~ .img-2 img,
        [id^="four-"]:checked ~ .img-3 img,
        [id^="four-"]:checked ~ .img-4 img {
            clip-path: circle(150% at 0% 100%);
        }


        /* Slider controls với ID động */
        .wrapper .sliders {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
            display: flex;
        }

        .wrapper .sliders label {
            border: 2px solid rgb(255, 255, 255);
            width: 13px;
            height: 13px;
            margin: 0 3px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        #one:checked ~ .sliders label.one,
        #two:checked ~ .sliders label.two,
        #three:checked ~ .sliders label.three,
        #four:checked ~ .sliders label.four,
        #five:checked ~ .sliders label.five {
            width: 35px;
            border-radius: 14px;
            background: rgb(26, 255, 149);
        }

        /* Khi các nút được chọn, thay đổi kích thước và màu sắc */
        input[id^="one-"]:checked ~ .sliders label[id^="label-one"],
        input[id^="two-"]:checked ~ .sliders label[id^="label-two"],
        input[id^="three-"]:checked ~ .sliders label[id^="label-three"],
        input[id^="four-"]:checked ~ .sliders label[id^="label-four"] {
            width: 35px;
            border-radius: 14px;
            background: rgb(26, 255, 149);
        }

        .sliders label:hover {
            background: rgb(26, 255, 149);
        }

        input[type="radio"] {
            display: none;
        }


        /*Rating star*/

        .rating {
            display: flex;
            align-items: center;
            height: 0;
            margin-bottom: 1.2rem;
            width: 116.05px;
        }

        .rating i {
            font-size: 1.2rem;
        }

        .star {
            color: #00d79d;
            overflow: hidden;
            z-index: 1;
            display: flex;
            flex-flow: row;
            gap: 2px;
            width: 20%;
        }

        .star-base {
            position: absolute;
            color: #3d3d3d;
            overflow: hidden;
            z-index: 0;
            display: flex;
            flex-flow: row;
            gap: 2px;
        }

        .required-label::after {
            content: "*";
            color: red;
            font-size: 1rem;
            position: absolute;
            top: -3px;
            left: 1px
        }

    </style>
</head>

<body>
<th:block layout:fragment="content">
    <body>

    <div th:if="${success}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    title: 'Registered successfully!',
                    text: '\n' +
                        'We have sent an account activation link to your email, please check your email and activate your account.',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'my-custom-button'
                    }
                });
            });
        </script>
    </div>

    <section class="hero-wrap hero-wrap js-fullheight" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>MY CARS <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">My Cars!</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section p-0" style="min-height: 500px !important;">
        <form>
            <div class="container row d-flex m-auto justify-content-between">
                <button id="addCarBtn" class="btn btn-primary btn-lg m-4 ">Add car</button>
                <div class="input-group input-group-sm col-lg-4 col-md-4 col-sm-6 col-6 d-flex align-items-center">
                    <select class="custom-select" id="sortBy" name="sortBy" onchange="navigateToFilteredCars()">
                        <option value="newestToLatest"
                                th:selected="${sortBy == null || sortBy == 'lastModified' && order == 'desc'}">Newest to
                            Latest
                        </option>
                        <option value="latestToNewest" th:selected="${sortBy == 'lastModified' && order == 'asc'}">
                            Latest to Newest
                        </option>
                        <!--                    <option value="available" th:selected="${sortBy == 'available'}">Available</option>-->
                        <!--                    <option value="booked" th:selected="${sortBy == 'booked'}">Booked</option>-->
                        <option value="priceLowToHigh" th:selected="${sortBy == 'basePrice' && order == 'asc'}">Price:
                            Low to High
                        </option>
                        <option value="priceHighToLow" th:selected="${sortBy == 'basePrice' && order == 'desc'}">Price:
                            High to Low
                        </option>
                    </select>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="hasDraftModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="hasDraftModalTitle">No Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="hasDraftModalBody">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-secondary" id="carContinues">Yes</button>
                                <button type="button" class="btn btn-secondary" id="carAddNew">No</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="container pb-5">
                <!--            <div style="display: flex; justify-content: end;">-->
                <!--                <a class="sort-asc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>-->
                <!--            </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <div class="d-flex justify-content-center">
                                <div class="card align-items-start display-flex-center"
                                     style="">
                                    <div class="card-body text-left w-100">
                                        <h5 class="card-title"></h5>
                                        <div th:if="${message}">
                                            <p th:text="${message}"></p>
                                        </div>
                                        <div class="row d-flex justify-content-center" th:if="${carList != null}">

                                            <th:block th:each="car, iterStat: ${carList}">
                                                <div class="col-lg-12 row p-3" style="border-bottom: solid 3px #01d28e"
                                                     data-aos="fade-up">
                                                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                                                        <div class="wrapper" style="max-height: 270px">
                                                            <input type="radio" th:name="'slide-'+ ${iterStat.index}"
                                                                   th:id="'one-' + ${iterStat.index}" checked>
                                                            <input type="radio" th:name="'slide-'+ ${iterStat.index}"
                                                                   th:id="'two-' + ${iterStat.index}">
                                                            <input type="radio" th:name="'slide-'+ ${iterStat.index}"
                                                                   th:id="'three-' + ${iterStat.index}">
                                                            <input type="radio" th:name="'slide-'+ ${iterStat.index}"
                                                                   th:id="'four-' + ${iterStat.index}">
                                                            <div class="img img-1">
                                                                <img th:src="'/'+${car.getFrontImage()}"
                                                                     style="background: #1a1a1a" alt="">
                                                            </div>
                                                            <div class="img img-2">
                                                                <img th:src="'/'+${car.getBackImage()}"
                                                                     style="background: #1a1a1a" alt="">
                                                            </div>
                                                            <div class="img img-3">
                                                                <img th:src="'/'+${car.getLeftImage()}"
                                                                     style="background: #1a1a1a" alt="">
                                                            </div>
                                                            <div class="img img-4">
                                                                <img th:src="'/'+${car.getRightImage()}"
                                                                     style="background: #1a1a1a" alt="">
                                                            </div>
                                                            <div class="sliders">
                                                                <label th:for="'one-' + ${iterStat.index}"
                                                                       th:id="'label-one-' + ${iterStat.index}"
                                                                       class="one"></label>
                                                                <label th:for="'two-' + ${iterStat.index}"
                                                                       th:id="'label-two-' + ${iterStat.index}"
                                                                       class="two"></label>
                                                                <label th:for="'three-' + ${iterStat.index}"
                                                                       th:id="'label-three-' + ${iterStat.index}"
                                                                       class="three"></label>
                                                                <label th:for="'four-' + ${iterStat.index}"
                                                                       th:id="'label-four-' + ${iterStat.index}"
                                                                       class="four"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 justify-content-center align-items-center">
                                                        <div class="row justify-content-center align-items-center align-content-center">
                                                            <h4 class="col-lg-12 col-md-12 col-sm-12 text-center"
                                                                style=""
                                                                th:text="${car.getCarName() == null ? 'NULL' :car.getCarName()}"
                                                                data-aos="zoom-out-up">No Name</h4>
                                                            <div class="col-lg-12 row"
                                                                 style="display: flex; align-items: center">
                                                                <p class="col-lg-4 col-md-5 col-sm-5 col-4 p-0 pr-2">
                                                                    Ratings: </p>
                                                                <div class="rating">
                                                                    <div class="star"
                                                                         th:style="'width:' + ${T(java.lang.Math).random() * 100} +'%'">
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="100"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="200"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="300"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="400"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="500"></i>
                                                                    </div>
                                                                    <div class="star-base">
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="100"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="200"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="300"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="400"></i>
                                                                        <i class="fa fa-star" data-aos="zoom-in"
                                                                           data-aos-delay="500"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 row"
                                                                 style="display: flex; align-items: center">
                                                                <p class="col-lg-4 col-md-5 col-sm-5 col-4 p-0 pr-2">
                                                                    No. of rides: </p>
                                                                <p>0</p>
                                                            </div>
                                                            <div class="col-lg-12 row"
                                                                 style="display: flex; align-items: center">
                                                                <p class="col-lg-4 col-md-5 col-sm-5 col-4 p-0 pr-2">
                                                                    Price: </p>
                                                                <p th:text="${#numbers.formatDecimal(car.getBasePrice(), 0, 'COMMA', 0, 'POINT')} + 'K/Day'"
                                                                   id="previewPrice">0k/Day</p>
                                                            </div>
                                                            <div class="col-lg-12 row"
                                                                 style="display: flex; align-items: center">
                                                                <p class="col-lg-4 col-md-5 col-sm-5 col-4 p-0 pr-2">
                                                                    Location: </p>
                                                                <p class="col-lg-4 col-md-7 col-sm-7 col-8 p-0"
                                                                   id="previewLocation"
                                                                   style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;   '...' "
                                                                   th:text="${car.getAddress().getProvince()}">No</p>
                                                            </div>
                                                            <div class="col-lg-12 row"
                                                                 style="display: flex; align-items: center">
                                                                <p class="col-lg-4 col-md-5 col-sm-5 col-4 p-0 pr-2">
                                                                    Status: </p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 1}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #28bf00;max-width: fit-content;background-color: #d9ffd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 2}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #5900ff;max-width: fit-content;background-color: #d8d1ff;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 3}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff0000;max-width: fit-content;background-color: #ffd1d1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 5}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #5f5f5f;max-width: fit-content;background-color: #d9d9d9;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 6}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff9100;max-width: fit-content;background-color: #ffedd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 8}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff9100;max-width: fit-content;background-color: #ffedd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 10}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #00a6ff;max-width: fit-content;background-color: #d1ecff;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 11}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff9100;max-width: fit-content;background-color: #ffedd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 14}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff9100;max-width: fit-content;background-color: #ffedd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 15}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #ff4d00;max-width: fit-content;background-color: #ffedd1;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>
                                                                <p  th:if="${car.getCarStatus().getStatusId() == 16}" th:text="${car.getCarStatus().getName()}" class="col-lg-9 col-md-7 col-sm-7 col-8 p-0" style="color: #d86837;max-width: fit-content;background-color: #eac791;padding: 5px 10px !important;border-radius: 10px;">Undefined</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 d-flex justify-content-center mt-1">
                                                        <a th:href="'/car-owner/edit-car/' + ${car.getCarId()}"
                                                           class="btn btn-primary mr-1 btn-lg w-100 align-content-center">View
                                                            Details</a>
                                                        <a th:href="'#'"
                                                           th:if="${car.getCarStatus().getStatusId() == 14}"
                                                           class="btn btn-primary ml-1 btn-lg w-100 align-content-center"
                                                           th:id="'confirm-deposit-btn-' + ${car.getCarId()}"
                                                           th:attr="data-car-id=${car.getCarId()}"
                                                           style="background: #da1b1b !important;">
                                                            Confirm Deposit</a>
                                                        <a th:href="'#'"
                                                           th:if="${car.getCarStatus().getStatusId() == 11}"
                                                           class="btn btn-primary ml-1 btn-lg w-100 align-content-center"
                                                           th:onclick="'checkPayment(' + ${car.getCarId()} + ')'"
                                                           style="background: #da1b1b !important;">
                                                            Confirm Payment</a>
                                                        <a th:href="'#'"
                                                           th:if="${car.getCarStatus().getStatusId() == 15}"
                                                           class="btn btn-primary ml-1 btn-lg w-100 align-content-center"
                                                           th:id="'confirm-cancel-btn-' + ${car.getCarId()}"
                                                           th:attr="data-car-id=${car.getCarId()}"
                                                           style="background: #000000 !important;">
                                                            Confirm Cancel</a>
                                                        <a th:href="'#'"
                                                           th:if="${car.getCarStatus().getStatusId() == 16}"
                                                           class="btn btn-primary ml-1 btn-lg w-100 align-content-center"
                                                           th:onclick="'confirmReturn(' + ${car.getCarId()} + ')'"
                                                           style="background: #da1b1b !important;">
                                                            Confirm Return</a>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav th:if="${carList != null}"
                         class="d-flex col-lg-12 mt-3 justify-content-end justify-content-md-end justify-content-sm-center justify-content--center align-items-center"
                         aria-label="Page navigation example" style="column-gap: 10px">
                        <ul class="pagination m-0">
                            <!-- Previous button - note currentPage is already 1-based -->
                            <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/car-owner/my-cars(page=${currentPage - 1}, size=${size}, sortBy=${sortBy}, order=${order})}"
                                   th:classappend="${currentPage <= 1} ? 'disabled'"
                                   aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>

                            <!-- Page numbers -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(1, totalPages)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/car-owner/my-cars(page=${i}, size=${size}, sortBy=${sortBy}, order=${order})}"
                                   th:text="${i}"></a>
                            </li>

                            <!-- Next button -->
                            <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/car-owner/my-cars(page=${currentPage + 1}, size=${size}, sortBy=${sortBy}, order=${order})}"
                                   th:classappend="${currentPage >= totalPages} ? 'disabled'"
                                   aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                        <div class="input-group input-group-sm" style="width: 100px">
                            <div class="input-group-prepend" style="max-height: 31px">
                                <label class="input-group-text"
                                       for="pageSize">Size</label>
                            </div>
                            <select class="custom-select" id="pageSize" name="size" onchange="navigateToFilteredCars()">
                                <option value="5" th:selected="${size == null || size == 5}">5</option>
                                <option value="10" th:selected="${size == 10}">10</option>
                                <option value="15" th:selected="${size == 15}">15</option>
                                <option value="20" th:selected="${size == 20}">20</option>
                                <option value="30" th:selected="${size == 30}">30</option>
                            </select>
                        </div>
                    </nav>
                </div>
            </div>
        </form>
    </section>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>


    <script>

        function navigateToFilteredCars() {
            const sortBy = document.getElementById('sortBy').value;
            const pageSize = document.getElementById('pageSize').value;

            window.location.href = '/car-owner/my-cars?sortBy=' + sortBy + '&size=' + pageSize;
        }

        //confirm cancel btn
        document.addEventListener('DOMContentLoaded', function () {
            console.log("DOM fully loaded and parsed");

            const confirmCancelBtns = document.querySelectorAll('[id^="confirm-cancel-btn-"]');
            confirmCancelBtns.forEach(btn => {
                btn.addEventListener('click', function (event) {
                    event.preventDefault();

                    // Lấy carId từ data-car-id
                    const carId = this.getAttribute('data-car-id');

                    Swal.fire({
                        title: 'Confirm cancel booking and refund deposit to customer!',
                        icon: 'question',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        showCancelButton: true,
                        customClass: {
                            confirmButton: 'custom-confirm-btn',
                            cancelButton: 'custom-cancel-btn'
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            console.log('User confirmed the cancel for car with ID:', carId);
                            window.location.href = `/car-owner/confirm-cancel-mycar?carId=${carId}`;
                        } else {
                            console.log('User canceled the action');
                        }
                    });
                });
            });
        });

        //confirm deposit btn
        document.addEventListener('DOMContentLoaded', function () {
            console.log("DOM fully loaded and parsed");

            const confirmDepositBtns = document.querySelectorAll('[id^="confirm-deposit-btn-"]');
            confirmDepositBtns.forEach(btn => {
                btn.addEventListener('click', function (event) {
                    event.preventDefault();

                    // Lấy carId từ data-car-id
                    const carId = this.getAttribute('data-car-id');

                    Swal.fire({
                        title: 'Please confirm that you have received the deposit for this booking.',
                        icon: 'warning',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        showCancelButton: true,
                        customClass: {
                            confirmButton: 'custom-confirm-btn',
                            cancelButton: 'custom-cancel-btn'
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            console.log('User confirmed the deposit for car with ID:', carId);
                            window.location.href = `/car-owner/confirm-deposit-mycar?carId=${carId}`;
                        } else {
                            console.log('User canceled the action');
                        }
                    });
                });
            });
        });

        // confirm payment btn
        function confirmReturn(carId) {
            console.log("confirmReturn called with carId:", carId); // Kiểm tra xem hàm có được gọi không

            $.ajax({
                url: '/car-owner/check-return',
                type: 'get',
                data: {carId: carId},
                success: function (response) {
                    console.log("Check payment successfully", response);

                    Swal.fire({
                        title: 'Confirm Payment!',
                        text: response.message,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No',
                        customClass: {
                            confirmButton: 'my-custom-button'
                        }
                    }).then((result) => {
                        console.log("Swal result:", result);
                        if (result.isConfirmed) {
                            confirmReturnCar(carId);
                            console.log("Calling confirmReturnCar with carId:", carId);
                        }
                    });
                },
                error: function (error) {
                    console.log("Error confirm payment", error);
                    let errorMessage;
                    try {
                        const errorResponse = JSON.parse(error.responseText);
                        errorMessage = errorResponse.message || 'An error occurred.';
                    } catch (e) {
                        errorMessage = 'An unexpected error occurred.';
                    }

                    Swal.fire({
                        title: 'Error!',
                        text: errorMessage,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }

        function confirmReturnCar(carId) {
            const sortBy = document.getElementById('sortBy').value;
            const pageSize = document.getElementById('pageSize').value;
            console.log(carId);
            $.ajax({
                    url: '/car-owner/confirm-return-car',
                    type: 'get',
                    data: {carId: carId},
                    success: function (response) {
                        console.log("Confirm payment car response", response);

                        if (response.status === 'success1') {
                            Swal.fire({
                                title: 'Booking Successfully Completed.',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '/car-owner/my-cars?sortBy=' + sortBy + '&size=' + pageSize;
                            })
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '/car-owner/my-car?sortBy=' + sortBy + '&size=' + pageSize;
                            });
                        }
                    },
                    error:

                        function (error) {
                            console.log("Error confirming return payment", error);
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred. Please try again.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '/car-owner/my-car?sortBy=' + sortBy + '&size=' + pageSize;
                            });
                        }
                }
            )
            ;
        }


        $(document).ready(function () {
            $('#addCarBtn').click(function (event) {
                event.preventDefault();

                $.ajax({
                    url: '/car-draft/check-draft',
                    type: 'GET',
                    success: function (response) {
                        if (response.hasDraft === true) {
                            $('#hasDraftModal').modal('show');
                            $('#hasDraftModalTitle').text("Draft found!");
                            $('#hasDraftModalBody').html("You have a car draft in <b>" + response.lastModified + "</b>. Do you want to continue with it?");
                            $('#carAddNew').click(function () {
                                deleteDraft();
                                addCar();
                            });
                            $('#carContinues').click(function () {
                                addCar();
                            });
                        } else {
                            window.location.href = '/car-owner/add-car';
                        }
                    },
                    error: function (error) {
                        console.log("Error");
                    }
                });
            });
        });

        function addCar() {
            window.location.href = '/car-owner/add-car';
        }


        function deleteDraft() {
            $.ajax({
                url: '/car-draft/delete-draft',
                type: 'POST',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                },
                success: function (response) {
                    alert("Draft deleted.");
                },
                error: function (error) {
                    console.error("Error:", error);
                    alert("Error deleting draft.");
                }
            });
        }

    </script>
    </body>
</th:block>
</body>
</html>
